.pdf {
    width: 100%;
    min-height: 100%;
    margin-bottom: 50px;
    color: white !important;
}
* {
    align-self: center;
    justify-content: center;
    color: white !important;
}
header {
    height: 60px;
    color: white !important;
}
main {
    height: calc(100vh - 160px);
    margin-bottom: 50px;
    max-width: 1000px;
    color: white !important;
}
main > p {
    align-self: center;
    color: white !important;
}
object * {
    width: fit-content !important;
    color: white !important;
}
object {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    overflow-y: scroll;
    color: white !important;
}
object div {
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
    justify-content: center;
    color: white !important;
}
p {
    overflow-wrap: normal;
    word-wrap: normal;
    tab-size: 4ex;
    text-indent: 4ex;
    line-height: 2rem;
    padding: 0;
    margin: 0;
    color: white !important;
}
h5 {
    text-align: center;
    color: white !important;
}